.container {
  h1 {
    font-family: "pokemon-diamond";
    font-size: xx-large;
  }
  font-family: "pokemon-diamond";
  font-size: x-large;
}

.lol {
  display: inline-block;
}

.grass-type {
  background-color: #88dd66;
}

.poison-type {
  background-color: purple;
}

.normal-type {
  background-color: #bbbbaa;
}
.fighting-type {
  background-color: rgb(206, 88, 88);
}
.ground-type {
  background-color: rgb(207, 176, 39);
}
.bug-type {
  background-color: #aabb22;
}
.fire-type {
  background-color: #ff4422;
}
.ghost-type {
  background-color: rgb(138, 73, 138);
}
.water-type {
  background-color: #77bbff;
}
.electric-type {
  background-color: #ffcc33;
}
.psychic-type {
  background-color: #f838a8;
}
.ice-type {
  background-color: #77ddff;
}
.dragon-type {
  background-color: #8877dd;
}
.fairy-type {
  background-color: #ffaaff;
}
.flying-type {
  background-color: #6699ff;
}
.rock-type {
  background-color: #bbaa66;
}
.dark-type {
  background-color: #775544;
}
.steel-type {
  background-color: #aaaabb;
}
