<div *ngIf="pokemon && species" class="container mx-auto">
  <div class="row">
    <div class="col-sm-4">
      <button (click)="navigateBackwards($event)" type="button">
        Previous
      </button>
      <button (click)="navigateForwards($event)" type="button">Forward</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ pokemon.name | uppercase }} {{ species.names[0].name }}</h1>
      <h1>{{ "#" + pokemon.id }}</h1>
      <p *ngFor="let type of pokemon.types">
        {{ type.type.name | uppercase }}
      </p>
      <div>
        {{ genus }}
      </div>
      <div>
        Abilities:
        <ng-container *ngFor="let ability of pokemon.abilities">
          {{ ability.ability.name | titlecase }}
        </ng-container>
      </div>
      <div>
        {{ "Heightt: " + pokemon.heightt + "m" }}
      </div>
      <div>
        {{ "Weight: " + pokemon.weight + "kg" }}
      </div>
      <div class="mt-2">
        {{ flavorText }}
      </div>
      <div class="col-sm-3">
        <img
          src="{{ pokemon.sprites.other['official-artwork'].front_default }}"
          class="img-responsive"
        />
      </div>
    </div>
    <div class="col-sm-3">
      <div>Base Stats</div>
      <table class="table table-dark">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr>
            <th>HP</th>
            <td>{{ pokemon.stats[0].base_stat }}</td>
          </tr>
          <tr>
            <th>ATTACK</th>
            <td>{{ pokemon.stats[1].base_stat }}</td>
          </tr>
          <tr>
            <th>DEFENSE</th>
            <td>{{ pokemon.stats[2].base_stat }}</td>
          </tr>
          <tr>
            <th>SPECIAL ATTACK</th>
            <td>{{ pokemon.stats[3].base_stat }}</td>
          </tr>
          <tr>
            <th>SPECIAL DEFENSE</th>
            <td>{{ pokemon.stats[4].base_stat }}</td>
          </tr>
          <tr>
            <th>SPEED</th>
            <td>{{ pokemon.stats[5].base_stat }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div
        class="col-sm-3"
        *ngIf="
          pokemon.sprites.versions['generation-i']['red-blue'].front_default
        "
      >
        <p>Pokémon Red</p>
        <img
          src="{{
            pokemon.sprites.versions['generation-i']['red-blue'].front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div
        class="col-sm-3"
        *ngIf="pokemon.sprites.versions['generation-i'].yellow.front_default"
      >
        <p>Pokémon Yellow</p>
        <img
          src="{{
            pokemon.sprites.versions['generation-i'].yellow.front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div
        class="col-sm-3"
        *ngIf="pokemon.sprites.versions['generation-ii'].crystal.front_default"
      >
        <p>Pokémon Crystal</p>
        <img
          src="{{
            pokemon.sprites.versions['generation-ii'].crystal.front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div
        class="col-sm-3"
        *ngif="pokemon.sprites.versions['generation-ii'].gold.front_default"
      >
        <p>Pokémon Gold</p>
        <img
          src="{{
            pokemon.sprites.versions['generation-ii'].gold.front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div class="row">
        <div
          class="col-sm-3"
          *ngIf="pokemon.sprites.versions['generation-ii'].silver.front_default"
        >
          <p>Pokémon Silver</p>
          <img
            src="{{
              pokemon.sprites.versions['generation-ii'].silver.front_default
            }}"
            width="100"
            height="100"
          />
        </div>

        <div
          class="col-sm-3"
          *ngIf="
            pokemon.sprites.versions['generation-iii'].emerald.front_default
          "
        >
          <p>Pokémon Emerald</p>
          <img
            src="{{
              pokemon.sprites.versions['generation-iii'].emerald.front_default
            }}"
            width="100"
            height="100"
          />
        </div>
      </div>
      <div
        class="col-sm-3"
        *ngIf="
          pokemon.sprites.versions['generation-iv']['diamond-pearl']
            .front_default
        "
      >
        <p>Pokémon Diamond Pearl</p>
        <img
          src="{{
            pokemon.sprites.versions['generation-iv']['diamond-pearl']
              .front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div class="col-sm-3">
        <div>
          <p>Pokémon Black White</p>
        </div>
        <img
          src="{{
            pokemon.sprites.versions['generation-v']['black-white']
              .front_default
          }}"
          width="100"
          height="100"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div>
          <p>Pokémon OmegaRuby AlphaSaphhire</p>
        </div>
        <img
          src="{{
            pokemon.sprites.versions['generation-vi']['omegaruby-alphasapphire']
              .front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div class="col-sm-3">
        <div>
          <p>Pokémon X Y</p>
        </div>
        <img
          src="{{
            pokemon.sprites.versions['generation-vi']['x-y'].front_default
          }}"
          width="100"
          height="100"
        />
      </div>

      <div class="col-sm-3">
        <div>
          <p>Pokémon Ultra Sun Ultra Moon</p>
        </div>
        <img
          src="{{
            pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon']
              .front_default
          }}"
          width="100"
          height="100"
        />
      </div>
    </div>
  </div>
</div>
