<div *ngIf="pokemon && species" class="container mx-auto">
  <div class="row">
    <div class="col-6">
      <h1>{{ pokemon.name | uppercase }} {{ species.names[0].name }}</h1>
      <h1>{{ "#" + pokemon.id }}</h1>
      <p *ngFor="let type of pokemon.types">
        {{ type.type.name | uppercase }}
      </p>
      <div>
        {{ species.genera[7].genus }}
      </div>
      <div>
        Abilities:
        <ng-container *ngFor="let ability of pokemon.abilities">
          {{ ability.ability.name | titlecase }}
        </ng-container>
      </div>
      <div>
        {{ "Height: " + pokemon.height + "m" }}
      </div>
      <div>
        {{ "Weight: " + pokemon.weight + "kg" }}
      </div>
      <div class="mt-2">
        {{ species.flavor_text_entries[0].flavor_text }}
      </div>
      <img
        src="{{ pokemon.sprites.other['official-artwork'].front_default }}"
      />
    </div>
    <div class="col-4">
      <div>Base Stats</div>
      <table class="table table-dark">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th>HP</th>
                <td>{{pokemon.stats[0].base_stat}}</td>
            </tr>
            <tr>
                <th>ATTACK</th>
                <td>{{pokemon.stats[1].base_stat}}</td>
            </tr>
            <tr>
                <th>DEFENSE</th>
                <td>{{pokemon.stats[2].base_stat}}</td>
            </tr>
            <tr>
                <th>SPECIAL ATTACK</th>
                <td>{{pokemon.stats[3].base_stat}}</td>
            </tr>
            <tr>
                <th>SPECIAL DEFENSE</th>
                <td>{{pokemon.stats[4].base_stat}}</td>
            </tr>
            <tr>
                <th>SPEED</th>
                <td>{{pokemon.stats[5].base_stat}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="col-2">
      <div>Game Appearences</div>
      <ul class="list-group-dark">
        <li class="list-group-item" *ngFor="let game of pokemon.game_indices">
          {{ game.version.name | uppercase }}
        </li>
      </ul>
    </div>
  </div> -->

  <div class="row">
    <div class="col-2">
      <p>Pokémon Red</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-i']['red-blue'].front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Yellow</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-i'].yellow.front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Crystal</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-ii'].crystal.front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Gold</p>
      <img
        src="{{ pokemon.sprites.versions['generation-ii'].gold.front_default }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Silver</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-ii'].silver.front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Emerald</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-iii'].emerald.front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Diamond</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-iv']['diamond-pearl']
            .front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>

    <div class="col-2">
      <p>Pokémon Black White</p>
      <img
        src="{{
          pokemon.sprites.versions['generation-v']['black-white'].front_default
        }}"
        width="50%"
        heigh="20%"
      />
    </div>
  </div>
</div>
