<div class="container">
  <div class="row">
    <div class="col=3">
      <h1>Pokémon</h1>
      <p>Generation 1</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of firstGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 2</p>
    </div>
  </div>

  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of secondGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 3</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of thirdGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 4</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of fourthGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 5</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of fifthGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 6</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of sixthGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>

  <div class="row">
    <div class="col=3">      
      <p>Generation 7</p>
    </div>
  </div>
  <div class="row mt-1 bg-dark rounded">    
    <div class="col" *ngFor="let pokemon of seventhGenPokemon; ">
      <a href="{{'/' + (pokemon.id)}}" title="{{(pokemon.name | titlecase) + ' (Pokémon)'}}"><img src="{{ pokemon.sprites.front_default }}"/></a>      
    </div>
  </div>


</div>
